# Imóveis residenciais

In [1]:
import pandas as pd

In [2]:
url = 'data/aluguel.csv'

dados = pd.read_csv(url, sep=';')

dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Quitinete,Glória,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,Quitinete,Flamengo,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,Quitinete,Centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

Primeiro iremos criar uma lista com os tipos de imóveis sem repetições.

In [4]:
list(dados['Tipo'].drop_duplicates())

['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila', 'Quitinete']

In [ ]:
residenciais = ['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila', 'Quitinete']

Agora se passarmos essa lista no método **isin()**, ele irá marcar como True todas as vezes que algum dos nossos elementos aparecerem no nosso DataFrame.

In [7]:
selecao = dados['Tipo'].isin(residenciais)

Agora iremos passar esse seleção para dentro do nosso DataFrame dados, onde ele irá apagar todos os registros False e deixará apenas os registros com True.

In [8]:
dados_residencial = dados[selecao]

dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Quitinete,Glória,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,Quitinete,Flamengo,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,Quitinete,Centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

## Exportando DataFrame

Após essa filtragem, precisamos exportar esse novo DataFrame que criamos. Com o método **to_csv**

In [ ]:
dados_residencial.to_csv('data/aluguel_residencial.csv', sep=';', index= False)

## Seleções e Frequências de Imóveis

In [10]:
dados = pd.read_csv('data/aluguel_residencial.csv', sep=';')

dados

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...
19826,19826,Quitinete,Glória,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,19827,Quitinete,Flamengo,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,19828,Quitinete,Centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,19829,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,19830,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

Agora iremos selecionar apenas os registros classificados como Apartamento.

Primeiro criamos nosso filtro.

In [11]:
selecao = dados['Tipo'] == 'Apartamento'

selecao

0         True
1         True
2         True
3         True
4         True
         ...
19826    False
19827    False
19828    False
19829    False
19830    False
Name: Tipo, Length: 19831, dtype: bool

Agora podemos visualizar a frequência.

In [14]:
qtd_apartamentos = dados[selecao].shape[0]
qtd_apartamentos

16923

In [12]:
apartamentos = dados[selecao]
apartamentos

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...
16918,16918,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0,19.23,Apartamento
16919,16919,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
16920,16920,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
16921,16921,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
16922,16922,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

Agora iremos selecionar os registros classificados como 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

Primeiro iremos criar nosso filtro.

In [16]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')

Agora iremos descobrir a frequência dos registros.

In [17]:
casas = dados[selecao].shape[0]

casas

2095

In [18]:
casas = dados[selecao]
casas

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
16923,16923,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
16924,16924,Casa,Campo Grande,4,1,2,400,12000.0,0.0,0.0,30.00,Casa
16925,16925,Casa,Méier,2,0,0,51,1500.0,50.0,0.0,29.41,Casa
16926,16926,Casa,Maracanã,8,3,5,259,7000.0,0.0,0.0,27.03,Casa
16927,16927,Casa,Benfica,1,0,0,33,1200.0,0.0,0.0,36.36,Casa
...,...,...,...,...,...,...,...,...,...,...,...,...
19013,19013,Casa de Vila,Riachuelo,2,0,0,43,1000.0,0.0,120.0,23.26,Casa
19014,19014,Casa de Vila,Quintino Bocaiúva,2,0,0,58,1000.0,0.0,0.0,17.24,Casa
19015,19015,Casa de Vila,Todos os Santos,3,1,1,92,1500.0,80.0,11.0,16.30,Casa
19016,19016,Casa de Vila,Riachuelo,3,0,0,73,850.0,0.0,0.0,11.64,Casa
19017,19017,Casa de Vila,Pavuna,2,0,0,55,600.0,0.0,0.0,10.91,Casa

Agora iremos selecionar os registros que possuem áreas de 60 e 100 metros quadrados.

Primeiro criaremos nosso filtro.

In [ ]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)

Agora iremos observar a frequência.

In [20]:
areas = dados[selecao].shape[0]
areas

2095

Agora iremos selecionar os imóveis que tenham pelo menos 4 quartos e aluguem menor que R$ 2.000,00.

Primeiro iremos criar nosso filtro.

In [ ]:
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)

Agora iremos observar a frequência.

In [23]:
filtro = dados[selecao].shape[0]

filtro

36

In [24]:
filtro = dados[selecao]

filtro

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
358,358,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,830.0,0.0,11.88,Apartamento
2965,2965,Apartamento,Campo Grande,4,2,1,115,1900.0,500.0,0.0,16.52,Apartamento
3260,3260,Apartamento,Recreio dos Bandeirantes,4,2,1,105,1900.0,1492.0,205.0,18.10,Apartamento
4878,4878,Apartamento,Pechincha,4,1,2,178,1900.0,1100.0,270.0,10.67,Apartamento
5690,5690,Apartamento,Recreio dos Bandeirantes,4,2,3,280,1800.0,1400.0,580.0,6.43,Apartamento
5714,5714,Apartamento,Recreio dos Bandeirantes,4,3,2,250,1500.0,1380.0,700.0,6.00,Apartamento
5877,5877,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1093.0,183.0,11.88,Apartamento
7568,7568,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1038.0,158.0,11.88,Apartamento
8955,8955,Apartamento,Leme,4,0,1,185,1800.0,2000.0,270.0,9.73,Apartamento
9373,9373,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,930.0,150.0,11.88,Apartamento
9967,9967,Apartamento,Camorim,4,1,1,96,1350.0,747.0,0.0,14.06,Apartamento
10236,10236,Apartamento,Barra da Tijuca,4,3,4,148,1600.0,1766.0,0.0,10.81,Apartamento
11931,11931,Apartamento,Campo Grande,4,2,2,160,1900.0,880.0,0.0,11.88,Apartamento
12019,12019,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,912.0,160.0,11.88,Apartamento
12109,12109,Apartamento,Rio Comprido,4,1,0,110,1650.0,500.0,0.0,15.00,Apartamento
15119,15119,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,0.0,20.00,Apartamento
15731,15731,Apartamento,Barra da Tijuca,4,3,4,148,1500.0,1600.0,196.0,10.14,Apartamento
16330,16330,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,1038.0,0.0,11.88,Apartamento
17001,17001,Casa,Campo Grande,4,1,4,100,1600.0,0.0,0.0,16.00,Casa
17006,17006,Casa,Engenho de Dentro,4,3,0,120,1500.0,0.0,0.0,12.50,Casa
17065,17065,Casa,Campo Grande,4,1,0,140,1700.0,0.0,0.0,12.14,Casa
17187,17187,Casa,Riachuelo,4,0,1,100,1800.0,0.0,40.0,18.00,Casa
17188,17188,Casa,Méier,4,1,1,125,1900.0,0.0,0.0,15.20,Casa
17354,17354,Casa,Santo Cristo,5,0,0,85,1200.0,0.0,0.0,14.12,Casa
17466,17466,Casa,Praça Seca,4,1,1,128,1600.0,0.0,228.0,12.50,Casa
17501,17501,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,0.0,0.0,13.00,Casa
17588,17588,Casa,Campo Grande,4,3,0,120,1700.0,0.0,0.0,14.17,Casa
17634,17634,Casa,Campo Grande,4,0,1,366,1890.0,0.0,208.0,5.16,Casa
17644,17644,Casa,Campo Grande,4,0,0,159,1800.0,0.0,0.0,11.32,Casa
17650,17650,Casa,Braz de Pina,4,1,0,99,1800.0,0.0,0.0,18.18,Casa
17660,17660,Casa,Campo Grande,4,1,3,100,1600.0,0.0,0.0,16.00,Casa
17699,17699,Casa,Campo Grande,4,1,2,180,1850.0,300.0,0.0,10.28,Casa
17793,17793,Casa,Campo Grande,4,2,0,120,1600.0,0.0,0.0,13.33,Casa
18293,18293,Casa de Condomínio,Taquara,4,1,0,110,1750.0,550.0,993.0,15.91,Casa
18474,18474,Casa de Condomínio,Freguesia (Jacarepaguá),4,2,1,120,1800.0,195.0,30.0,15.00,Casa
18804,18804,Casa de Vila,Méier,4,0,1,85,1600.0,0.0,0.0,18.82,Casa